.venv
# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environments
env/
venv/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data files
data/
*.csv
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
